.header {
  height: 80px;
  width: 100vw;
  background-color: #4f27bf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 5;

  @media screen and (max-width: 768px) {
    padding-left: 90px;
  }
}
